@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex; /* we display as flex box and column in order to keep the footer at the bottom*/
  flex-direction: column;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0; /*removes the incovenient space*/
  padding: 0; /*removes the incovenient space*/
  gap: 16px
}

.content{
  flex: 1;
  display: flex;
  align-items: center; /*this and the next two lines centralize the content in the page*/
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

img {
  width: 600px;
  margin-bottom: 16px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

.footer {
  background-color: #eeeeee;
}
